.beerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.beerSection {
  display: flex;
  align-items: center;
}

.divider {
  margin: 10px 0px;
}

.type {
  margin-bottom: 60px;
}

.icon {
  margin-right: 20px;
}

.backButton {
  margin-top: 20px;
}
